*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #364954;
  text-align: center;
  background: #f5f5f5; }

.header__title, .info__title, .company div {
  font-family: 'Abril Fatface', cursive; }

.header, .works__steps, .feature-info, .package-items, .contact-info, .review-lover, .review-customer, .footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: none; }
  .btn-p {
    background-color: #00d3c6;
    color: inherit;
    font-size: inherit;
    font-weight: 300; }

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
  margin: 1rem; }
  .title span:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 52%;
    transform: translateX(-50%);
    width: 5rem;
    border-bottom: 2px solid #9c4b96; }
  .title span:before {
    content: '';
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-60%);
    width: 5rem;
    border-bottom: 2px solid #9c4b96; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 164, 214, 0.9);
  color: #e6f4f1; }
  .header__title {
    font-size: 2.5rem; }
    .header__title a:link,
    .header__title a:visited {
      text-decoration: none;
      color: #e6f4f1; }
    .header__title > span {
      margin-left: 5px;
      font-weight: 300; }
    .header__title > i {
      font-size: calc(100% 0.3rem);
      vertical-align: baseline;
      display: inline-block; }
  .header__navigation {
    font-size: 1.8rem; }
    .header__navigation li {
      list-style: none;
      display: inline-block; }
    .header__navigation a:link,
    .header__navigation a:visited {
      text-decoration: none;
      color: #e6f4f1;
      display: inline-block;
      margin-left: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: all 0.5s; }
    .header__navigation li:hover a,
    .header__navigation li:active a {
      color: #9c4b96;
      transform: translateY(-0.5rem);
      border-bottom: 3px solid #9c4b96; }
    .header__navigation .call {
      font-size: 1.6rem;
      background-color: #9c4b96;
      margin-left: 2rem;
      padding: 3px;
      border-radius: 3px;
      letter-spacing: 2px;
      transition: all 0.5s; }
      .header__navigation .call:hover {
        transform: scale(1.1); }

.home {
  background-image: linear-gradient(to right top, rgba(0, 164, 214, 0.4), rgba(156, 75, 150, 0.2)), url("../../asset/image/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 100vh;
  position: relative;
  color: #e6f4f1; }

.info {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 3px; }
  .info__title {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    padding: 1rem; }
  .info__subtitle {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem; }

.works {
  text-align: center;
  margin-top: 1rem; }
  .works__steps .works-step {
    text-align: center; }
    .works__steps .works-step--logo {
      position: relative;
      margin-right: 2rem; }
      .works__steps .works-step--logo i {
        display: block;
        font-size: 6rem;
        color: #9c4b96; }
      .works__steps .works-step--logo span {
        display: block;
        position: absolute;
        top: 22%;
        left: 45%;
        font-size: 3rem;
        font-weight: 300; }
    .works__steps .works-step--info {
      font-size: 1.8rem;
      margin-top: -2rem;
      margin-bottom: 1rem; }
      .works__steps .works-step--info i {
        font-size: calc(100% + 2rem);
        margin-right: 1rem;
        vertical-align: middle; }

.feature-box {
  background-color: rgba(0, 164, 214, 0.9);
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0; }

.feature {
  text-align: center;
  transform: rotate(5deg) skew(5deg); }

.feature-info-item {
  margin: 2rem 0;
  padding: 2rem;
  transition: all 0.3s; }
  .feature-info-item div {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 1rem; }
  .feature-info-item p {
    font-size: 1.7rem;
    font-weight: 300; }
  .feature-info-item i {
    font-size: 4rem;
    color: #9c4b96; }
  .feature-info-item:hover {
    border-radius: 5px;
    transform: scale(0.9); }

.package-items {
  margin-bottom: 1rem; }

.package-item {
  margin: 3rem 0;
  text-align: center;
  box-shadow: 0 2px 3px #364954; }
  .package-item__title {
    font-size: 3rem;
    font-weight: 300;
    color: #e6f4f1;
    background-color: rgba(0, 164, 214, 0.9);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .package-item__title > span {
      font-size: 2rem; }
  .package-item__info {
    list-style: none;
    font-size: 1.6rem;
    text-align: left;
    padding: 2rem; }
    .package-item__info i {
      font-size: calc(100% - 0.5rem);
      margin-right: 1rem;
      color: #9c4b96; }
  .package-item__order {
    font-size: 1.8rem;
    font-weight: 300;
    color: #e6f4f1;
    width: 100%;
    background-color: rgba(0, 164, 214, 0.9);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); }

.contact-box {
  background-color: rgba(0, 164, 214, 0.9);
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0; }

.contact {
  transform: rotate(5deg) skew(5deg); }

.contact-info {
  align-items: flex-start;
  margin: 2rem; }
  .contact-info__form {
    display: flex;
    margin: 1rem; }
    .contact-info__form input,
    .contact-info__form textarea,
    .contact-info__form button {
      border: none;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      border-bottom: 3px solid #9c4b96;
      width: 50vh; }
      .contact-info__form input:focus,
      .contact-info__form textarea:focus,
      .contact-info__form button:focus {
        outline: none;
        border: none;
        outline: 2px solid #9c4b96; }
        .contact-info__form input:focus:invalid,
        .contact-info__form textarea:focus:invalid,
        .contact-info__form button:focus:invalid {
          outline: 2px solid #ed727a; }
    .contact-info__form button {
      border: none;
      background: #9c4b96;
      text-transform: uppercase;
      font-size: 2rem;
      color: #e6f4f1; }
  .contact-info__address {
    text-align: left;
    font-size: 2rem;
    margin-top: 2rem; }
    .contact-info__address i {
      margin-right: 5px;
      color: #9c4b96; }
    .contact-info__address--title {
      font-size: 2rem;
      font-weight: 700; }

.review {
  margin: 3rem 0; }

.review-info {
  display: flex;
  justify-content: space-evenly; }

.review-lover {
  flex-direction: column;
  text-transform: lowercase;
  margin-top: 5rem; }
  .review-lover__item {
    font-size: 2.5rem;
    font-weight: 400;
    margin-right: 2rem;
    color: #9c4b96; }
    .review-lover__item > span {
      display: block;
      font-weight: 300;
      font-size: 1.6rem; }

.review-customer {
  margin-top: 5rem; }
  .review-customer__item--rel {
    position: relative; }
    .review-customer__item--rel i {
      margin-right: 5px;
      vertical-align: super; }
    .review-customer__item--rel img {
      position: relative;
      display: block;
      width: 60%;
      border-radius: 5%;
      opacity: 0.4;
      filter: grayscale(50%) brightness(50%); }
    .review-customer__item--rel p {
      display: block;
      position: absolute;
      top: 10%;
      width: 59%;
      font-size: 2rem;
      font-weight: 300;
      margin-top: 3rem;
      padding: 1rem;
      opacity: 1;
      color: #9c4b96; }
    .review-customer__item--rel:hover > p {
      opacity: 0; }
    .review-customer__item--rel:hover > img {
      opacity: 0.8;
      filter: grayscale(10%) brightness(100%);
      transform: scale(0.9); }

.footer {
  background-image: linear-gradient(to right top, #00bdd7, #00c3d5, #00c9d1, #00cecc, #00d3c6);
  margin-top: 5rem; }

.links {
  text-align: left;
  margin: 2rem; }
  .links div {
    font-size: 1.6rem;
    text-transform: uppercase;
    border-bottom: 1px solid black; }
  .links a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 300; }
  .links a:link,
  .links a:visited {
    color: inherit; }

.company div {
  font-size: 2rem; }

.company p {
  font-size: 1.6rem; }

.follow div {
  font-size: 1.6rem;
  text-transform: uppercase; }

.follow a {
  text-decoration: none;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 300;
  margin: 1rem; }

.follow a:link,
.follow a:visited {
  color: inherit; }
