*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #364954;
  text-align: center;
  background: #f5f5f5; }

.header__title, .info__title, .package-lover {
  font-family: 'Abril Fatface', cursive; }

.header, .works__steps, .feature-info, .package-items, .package-lover, .contact-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: none; }
  .btn-p {
    background-color: #00d3c6;
    color: inherit;
    font-size: inherit;
    font-weight: 300; }

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
  margin: 1rem; }
  .title span:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 52%;
    transform: translateX(-50%);
    width: 5rem;
    border-bottom: 2px solid #00a4d6; }
  .title span:before {
    content: '';
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-60%);
    width: 5rem;
    border-bottom: 2px solid #00a4d6; }

.home {
  background-image: linear-gradient(to top, rgba(0, 164, 214, 0.5), rgba(0, 130, 200, 0.5)), url("../../asset/image/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 100vh;
  position: relative;
  color: #ffffff; }

.header {
  justify-content: space-around;
  font-size: 2.5rem; }
  .header__title > span {
    margin-left: 5px; }
  .header__title > i {
    font-size: calc(100% + 0.5rem);
    vertical-align: middle;
    display: inline-block; }
  .header__navigation {
    font-size: 2rem; }
    .header__navigation li {
      list-style: none;
      display: inline-block; }
    .header__navigation a:link,
    .header__navigation a:visited {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      margin-left: 1rem; }
    .header__navigation button {
      font-size: 2rem;
      font-weight: 300; }

.info {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 3px; }
  .info__title {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    padding: 1rem; }
  .info__subtitle {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem; }

.works {
  text-align: center;
  margin-top: 1rem; }
  .works__steps .works-step {
    text-align: center; }
    .works__steps .works-step--logo {
      position: relative;
      margin-right: 2rem; }
      .works__steps .works-step--logo i {
        display: block;
        font-size: 6rem;
        color: #00a4d6; }
      .works__steps .works-step--logo span {
        display: block;
        position: absolute;
        top: 22%;
        left: 45%;
        font-size: 3rem;
        font-weight: 300; }
    .works__steps .works-step--info {
      font-size: 1.8rem;
      margin-top: -2rem;
      margin-bottom: 1rem; }
      .works__steps .works-step--info i {
        font-size: calc(100% + 2rem);
        margin-right: 1rem;
        vertical-align: middle; }

.feature-box {
  background: linear-gradient(to top, rgba(0, 164, 214, 0.2), rgba(0, 130, 200, 0.2));
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0; }

.feature {
  text-align: center;
  transform: rotate(5deg) skew(5deg); }

.feature-info-item {
  margin: 3rem 0;
  padding: 2rem;
  transition: all 0.3s; }
  .feature-info-item div {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem; }
  .feature-info-item p {
    font-size: 1.6rem; }
  .feature-info-item i {
    color: #0082c8;
    font-size: 4rem; }
  .feature-info-item:hover {
    border-radius: 5px;
    transform: scale(0.9); }

.package-items {
  margin-bottom: 1rem; }

.package-item {
  margin: 2rem 0;
  text-align: center;
  box-shadow: 0 2px 3px #364954; }
  .package-item__title {
    font-size: 3rem;
    font-weight: 300;
    color: #ffffff;
    background-color: #00bdd7;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .package-item__title > span {
      font-size: 2rem; }
  .package-item__info {
    list-style: none;
    font-size: 1.6rem;
    text-align: left;
    padding: 2rem; }
    .package-item__info i {
      font-size: calc(100% - 0.5rem);
      margin-right: 1rem; }
  .package-item__order {
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
    background-color: #00bdd7;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); }

.package-lover {
  text-transform: lowercase;
  margin: 2rem 0;
  background: #fff; }
  .package-lover__item {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem;
    padding: 1rem; }
    .package-lover__item > span {
      display: block;
      font-size: 1.6rem; }

.contact-box {
  background: linear-gradient(to top, rgba(0, 164, 214, 0.2), rgba(0, 130, 200, 0.2));
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0; }

.contact {
  transform: rotate(5deg) skew(5deg); }

.contact-info {
  align-items: flex-start; }
  .contact-info__form {
    display: flex;
    margin: 1rem; }
    .contact-info__form input,
    .contact-info__form textarea,
    .contact-info__form button {
      border: none;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      border-bottom: 2px solid #0082c8;
      width: 50vh; }
      .contact-info__form input:focus,
      .contact-info__form textarea:focus,
      .contact-info__form button:focus {
        outline: none;
        border: none;
        outline: 2px solid #0082c8; }
        .contact-info__form input:focus:invalid,
        .contact-info__form textarea:focus:invalid,
        .contact-info__form button:focus:invalid {
          outline: 2px solid orangered; }
    .contact-info__form button {
      border: none;
      background: #00a4d6; }
  .contact-info__address {
    text-align: left;
    font-size: 2rem; }
    .contact-info__address i {
      margin-right: 5px;
      color: #00a4d6; }
    .contact-info__address--title {
      font-size: 2rem;
      font-weight: 700; }
