*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #2f3640;
  text-align: center;
  background: #f5f5f5; }

.header__title, .info__title, .company div {
  font-family: 'Abril Fatface', cursive; }

.header, .works__steps, .feature-info, .package-items, .contact-info, .review-lover, .footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.contact-info__address--title, .links div, .follow div {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #8565b6;
  letter-spacing: 2px; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: none; }
  .btn-p {
    background-color: #00d3c6;
    color: inherit;
    font-size: inherit;
    font-weight: 300; }

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
  margin: 1rem; }
  .title span:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 52%;
    transform: translateX(-50%);
    width: 5rem;
    border-bottom: 2px solid #8565b6; }
  .title span:before {
    content: '';
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-60%);
    width: 5rem;
    border-bottom: 2px solid #8565b6; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 164, 214, 0.9);
  color: #f5f6fa; }
  .header__title {
    font-size: 2.5rem; }
    .header__title a:link,
    .header__title a:visited {
      text-decoration: none;
      color: #f5f6fa; }
    .header__title > span {
      margin-left: 5px;
      font-weight: 300; }
    .header__title > i {
      vertical-align: baseline;
      display: inline-block; }
  .header__navigation {
    font-size: 1.8rem; }
    .header__navigation li {
      list-style: none;
      display: inline-block; }
    .header__navigation a:link,
    .header__navigation a:visited {
      text-decoration: none;
      color: #f5f6fa;
      display: inline-block;
      margin-left: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: all 0.3s; }
    .header__navigation li:hover a,
    .header__navigation li:active a {
      color: #8565b6;
      transform: translateY(-0.5rem);
      border-bottom: 3px solid #8565b6; }
    .header__navigation .call {
      font-size: 1.6rem;
      background-color: #8565b6;
      margin-left: 2rem;
      padding: 3px;
      border-radius: 3px;
      letter-spacing: 2px;
      transition: all 0.3s; }
      .header__navigation .call i {
        display: inline-block;
        vertical-align: middle;
        font-size: inherit; }
      .header__navigation .call:hover {
        transform: scale(1.1); }

.home {
  background-image: linear-gradient(to right top, rgba(0, 164, 214, 0.4), rgba(133, 101, 182, 0.2)), url("../../asset/image/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 100vh;
  position: relative;
  color: #f5f6fa; }

.info {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 3px; }
  .info__title {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    padding: 1rem; }
  .info__subtitle {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem; }

.works {
  text-align: center;
  margin-top: 1rem; }
  .works__steps .works-step {
    text-align: center; }
    .works__steps .works-step--logo {
      position: relative;
      margin-right: 2rem; }
      .works__steps .works-step--logo i {
        display: block;
        font-size: 6rem;
        color: #00a4d6; }
      .works__steps .works-step--logo span {
        display: block;
        position: absolute;
        top: 22%;
        left: 45%;
        font-size: 3rem;
        font-weight: 300; }
    .works__steps .works-step--info {
      font-size: 1.8rem;
      margin-top: -2rem;
      margin-bottom: 1rem; }
      .works__steps .works-step--info i {
        font-size: calc(100% + 1rem);
        margin-right: 1rem;
        vertical-align: middle;
        color: #8565b6; }

.feature-box {
  background-color: rgba(0, 164, 214, 0.9);
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0; }

.feature {
  text-align: center;
  transform: rotate(5deg) skew(5deg); }

.feature-info {
  margin-bottom: 5rem; }
  .feature-info-item {
    margin: 2rem;
    padding: 2rem;
    transition: all 0.3s; }
    .feature-info-item div {
      font-size: 2.5rem;
      text-transform: capitalize;
      margin-bottom: 1rem; }
    .feature-info-item p {
      font-size: 1.6rem; }
    .feature-info-item i {
      font-size: 3.5rem;
      color: #8565b6; }
    .feature-info-item:hover {
      box-shadow: 0 1px 2px #00a4d6;
      border-radius: 5px;
      background: #8565b6;
      color: white;
      transform: translateY(-1.5rem);
      backface-visibility: hidden; }
      .feature-info-item:hover i {
        color: inherit; }

.package-items {
  margin: 2rem 0; }

.package-item {
  margin: 3rem 0;
  text-align: center;
  box-shadow: 0 2px 3px #2f3640;
  transition: all 0.3s; }
  .package-item__title {
    font-size: 3.5rem;
    font-weight: 300;
    color: #f5f6fa;
    background-color: rgba(0, 164, 214, 0.9);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .package-item__title > span {
      font-size: 2rem; }
  .package-item__info {
    list-style: none;
    font-size: 2rem;
    text-align: left;
    padding: 2rem; }
    .package-item__info i {
      font-size: calc(100% - 0.5rem);
      margin-right: 1rem;
      color: #8565b6; }
  .package-item__order {
    font-size: 2rem;
    font-weight: 300;
    color: #f5f6fa;
    width: 100%;
    background-color: rgba(0, 164, 214, 0.9);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); }
  .package-item:hover {
    transform: translateY(-2rem);
    backface-visibility: hidden; }

.contact-box {
  background-color: rgba(0, 164, 214, 0.9);
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0; }

.contact {
  transform: rotate(5deg) skew(5deg); }

.contact-info {
  align-items: flex-start;
  margin: 2rem; }
  .contact-info__form {
    display: flex;
    margin: 1rem;
    padding: 1rem; }
    .contact-info__form input,
    .contact-info__form textarea,
    .contact-info__form button {
      font-size: 1.6rem;
      font-family: inherit;
      border: none;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 5px;
      border-bottom: 4px solid #8565b6;
      width: 50vh;
      transition: all 0.3s; }
      .contact-info__form input:focus,
      .contact-info__form textarea:focus,
      .contact-info__form button:focus {
        outline: none;
        border: none;
        border-bottom: 4px solid #8565b6; }
        .contact-info__form input:focus:invalid,
        .contact-info__form textarea:focus:invalid,
        .contact-info__form button:focus:invalid {
          border-bottom: 4px solid #ed727a; }
    .contact-info__form button {
      border: none;
      background: #8565b6;
      text-transform: uppercase;
      font-size: 2rem;
      color: #f5f6fa; }
  .contact-info__address {
    text-align: left;
    font-size: 2rem;
    margin-top: 3rem;
    padding: 1rem; }
    .contact-info__address i {
      margin-right: 5px;
      vertical-align: middle;
      color: #8565b6;
      font-size: calc(100% + 1rem); }

.review {
  margin: 3rem 0; }

.review-info {
  display: flex;
  justify-content: space-evenly;
  justify-content: center; }

.review-lover {
  flex-direction: column;
  text-transform: lowercase;
  margin-top: 5rem; }
  .review-lover__item {
    font-size: 2.5rem;
    font-weight: 400;
    margin-right: 2rem;
    color: #8565b6; }
    .review-lover__item > span {
      display: block;
      font-weight: 300;
      font-size: 1.6rem; }

.review-comment {
  width: 70%; }

.review-customer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem; }
  .review-customer__item {
    box-shadow: 0 1px 2px #00a4d6;
    border-radius: 5px;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    transition: all 0.3s; }
    .review-customer__item img {
      display: block;
      width: 50%;
      border-radius: 50%;
      margin-top: -6rem;
      filter: grayscale(50%) brightness(60%); }
    .review-customer__item p {
      display: block;
      font-size: 2rem;
      font-weight: 300;
      border-radius: 5px;
      padding: 1rem; }
      .review-customer__item p > i {
        margin-right: 5px;
        vertical-align: super; }
    .review-customer__item:hover {
      background: #8565b6;
      color: #f5f6fa;
      transform: translateY(-2rem) rotate(-5deg); }
      .review-customer__item:hover img {
        filter: grayscale(0) brightness(100%); }

.footer {
  background-color: rgba(0, 164, 214, 0.9);
  margin-top: 5rem;
  color: #2f3640; }

.links {
  text-align: left;
  margin: 2rem; }
  .links a {
    margin: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: capitalize; }
  .links a:link,
  .links a:visited {
    color: #2f3640; }
  .links a:hover,
  .links a:active {
    color: #8565b6; }

.company div {
  font-size: 3rem;
  font-weight: 300; }

.company p {
  font-size: 1.6rem; }

.follow a {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 300;
  margin: 1rem;
  transition: all 0.3s;
  backface-visibility: hidden; }

.follow a:link,
.follow a:visited {
  color: #2f3640; }

.follow a:hover,
.follow a:active {
  color: #8565b6;
  transform: translateY(-0.5rem) rotate(5deg) scale(1.1); }
