.contact-box {
  background-color: rgba($color-p, 0.6);
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0;
  @media (max-width: 900px) {
    margin: 2rem 0;
    padding: 2rem 0;
  }
}

.contact {
  transform: rotate(5deg) skew(5deg);
}

.contact-info {
  @extend %flex;
  margin: 2rem;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  &__form {
    margin: 1rem;
    padding: 1rem;

    & input,
    & textarea,
    & button {
      display: block;
      font-size: 1.6rem;
      font-family: inherit;
      border: none;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 5px;
      border-bottom: 4px solid $color-s;
      transition: all 0.3s;
      width: 500px;
      @media (max-width: 450px) {
        width: 300px;
      }

      &:focus {
        outline: none;
        border: none;
        border-bottom: 4px solid $color-s;
        &:invalid {
          border-bottom: 4px solid $color-r;
        }
      }
    }

    & button {
      border: none;
      background: $color-s;
      text-transform: uppercase;
      font-size: 2rem;
      color: $font-color-s;
      border: 4px solid transparent;
      padding: 5px;
      cursor: pointer;
    }
  }

  &__address {
    text-align: left;
    font-size: 2rem;
    padding: 1rem;
    letter-spacing: 1px;
    margin-left: 10px;

    & i {
      margin-right: 5px;
      vertical-align: middle;
      color: $color-s;
      font-size: calc(100% + 1rem);
    }

    &--title {
      @extend %normal-title;
    }
  }
}
