.contact-box {
  background-color: rgba($color-p, 0.9);
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0;
}

.contact {
  transform: rotate(5deg) skew(5deg);
}

.contact-info {
  @extend %flex;
  align-items: flex-start;
  margin: 2rem;

  &__form {
    display: flex;
    margin: 1rem;
    padding: 1rem;

    & input,
    & textarea,
    & button {
      font-size: 1.6rem;
      font-family: inherit;
      border: none;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 5px;
      border-bottom: 4px solid $color-s;
      width: 50vh;
      transition: all 0.3s;

      &:focus {
        outline: none;
        border: none;
        border-bottom: 4px solid $color-s;
        &:invalid {
          border-bottom: 4px solid $color-r;
        }
      }
    }

    & button {
      border: none;
      background: $color-s;
      text-transform: uppercase;
      font-size: 2rem;
      color: $font-color-s;
    }
  }

  &__address {
    text-align: left;
    font-size: 2rem;
    margin-top: 3rem;
    padding: 1rem;
    & i {
      margin-right: 5px;
      vertical-align: middle;
      color: $color-s;
      font-size: calc(100% + 1rem);
    }

    &--title {
      @extend %normal-title;
    }
  }
}
