.feature-box {
  background-color: rgba($bg-color-p, 0.9);
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0;
}

.feature {
  text-align: center;
  transform: rotate(5deg) skew(5deg);
}

.feature-info {
  @extend %flex;
  margin-bottom: 5rem;

  &-item {
    margin: 2rem;
    padding: 2rem;
    transition: all 0.3s;

    & div {
      font-size: 2.5rem;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 1.6rem;
    }

    & i {
      font-size: 3.5rem;
      color: $color-s;
    }

    &:hover {
      box-shadow: 0 1px 2px $color-p;
      border-radius: 5px;
      background: $color-s;
      color: white;
      transform: translateY(-1.5rem);
      backface-visibility: hidden;

      & i {
        color: inherit;
      }
    }
  }
}
