.feature-box {
  background: linear-gradient(to top, rgba($color-p, 0.2), rgba($color-s, 0.2));
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0;
}

.feature {
  text-align: center;
  transform: rotate(5deg) skew(5deg);
}

.feature-info {
  @extend %flex;

  &-item {
    margin: 3rem 0;
    padding: 2rem;
    transition: all 0.3s;

    & div {
      font-size: 2rem;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 1.6rem;
    }

    & i {
      font-size: 4rem;
    }

    &:hover {
      border-radius: 5px;
      transform: scale(0.9);
    }
  }
}
