.feature-box {
  background-color: rgba($bg-color-p, 0.9);
  transform: rotate(-5deg) skew(-5deg);
  padding: 5rem;
  margin: 5rem 0;
}

.feature {
  text-align: center;
  transform: rotate(5deg) skew(5deg);
}

.feature-info {
  @extend %flex;

  &-item {
    margin: 2rem 0;
    padding: 2rem;
    transition: all 0.3s;

    & div {
      font-size: 2rem;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 1.7rem;
      font-weight: 300;
    }

    & i {
      font-size: 4rem;
      color: $color-s;
    }

    &:hover {
      border-radius: 5px;
      transform: scale(0.9);
    }
  }
}
