.footer {
  @extend %flex;
  background-color: rgba($bg-color-p, 0.6);
  margin-top: 5rem;
  color: $font-color-p;
}

.links {
  text-align: left;
  margin: 2rem;

  & div {
    @extend %normal-title;
  }

  & a {
    margin: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: capitalize;
    transition: all 0.3s;
  }

  & a:link,
  & a:visited {
    color: $font-color-p;
  }

  & a:hover,
  & a:active {
    color: $color-s;
  }
}

.company {
  & div {
    @extend %d-font;
    font-size: 3rem;
    font-weight: 300;
  }

  & p {
    font-size: 1.6rem;
  }
}

.follow {
  & div {
    @extend %normal-title;
  }

  & a {
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 300;
    margin: 1rem;
    transition: all 0.3s;
    backface-visibility: hidden;
  }

  & a:link,
  & a:visited {
    color: $font-color-p;
  }

  & a:hover,
  & a:active {
    color: $color-s;
    transform: rotate(-10deg) scale(1.1);
  }
}
