.header {
  @extend %flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba($bg-color-s, 0.8);
  color: $font-color-s;
  padding: 5px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
  &__title {
    @extend %d-font;
    font-size: 2.5rem;

    & a:link,
    & a:visited {
      text-decoration: none;
      color: $font-color-s;
    }

    & > span {
      margin-left: 5px;
    }
    & > i {
      vertical-align: baseline;
      display: inline-block;
    }
  }

  &__navigation {
    font-size: 1.8rem;
    @media (max-width: 360px) {
      font-size: 1.6rem;
      font-weight: 700;
    }
    & li {
      list-style: none;
      display: inline-block;
    }

    & a:link,
    & a:visited {
      text-decoration: none;
      color: $font-color-s;
      display: inline-block;
      margin-left: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 5px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        margin-top: 5px;
        width: 0;
        height: 100%;
        background-color: $bg-color-g;
        transform: translateX(-100%) skewX(-10deg);
        z-index: -1;
        transition: all 0.4s;
      }
    }
    & li:hover,
    & li:active {
      & a {
        &::before {
          transform: translateX(0) skewX(-10deg);
          width: 100%;
        }
      }
    }

    .call {
      font-size: 2rem;
      background-color: $color-g;
      margin-left: 2rem;
      padding: 5px;
      border-radius: 5px;
      letter-spacing: 2px;
      transition: all 0.3s;
      animation: callMove 4s infinite;

      & i {
        display: inline-block;
        vertical-align: baseline;
        font-size: inherit;
        margin-right: 2px;
      }

      &:hover {
        animation: none;
        background-color: #f5f5f5;
        color: $color-g;
      }
    }
  }
}
