.package-items {
  @extend %flex;
  margin: 2rem 0;
}

.package-item {
  margin: 3rem 0;
  text-align: center;
  box-shadow: 0 2px 3px $font-color-p;
  transition: all 0.5s;

  &__title {
    font-size: 3.5rem;
    font-weight: 300;
    color: $font-color-s;
    background-color: rgba($bg-color-p, 0.9);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    & > span {
      font-size: 2rem;
    }
  }

  &__info {
    list-style: none;
    font-size: 2rem;
    text-align: left;
    padding: 2rem;

    & i {
      font-size: calc(100% - 0.5rem);
      margin-right: 1rem;
      color: $color-s;
    }
  }

  &__order {
    font-size: 2rem;
    font-weight: 300;
    color: $font-color-s;
    width: 100%;
    background-color: rgba($bg-color-p, 0.9);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  }

  &:hover {
    transform: translateY(-1.5rem);
  }
}
