.package {
  padding: 5rem 0;
  @media (max-width: 900px) {
    padding: 2rem 0;
  }
}

.package-items {
  @extend %flex;
  margin: 4rem 0;
  @media (max-width: 900px) {
    flex-direction: column;
    margin: 1rem 0;
  }
}

.package-item {
  margin: 3rem 0;
  text-align: center;
  box-shadow: 0 2px 3px $color-s;
  transition: all 0.3s;

  &__title {
    font-size: 3.5rem;
    font-weight: 300;
    padding-bottom: 10px;
    color: $font-color-s;
    background-color: $bg-color-s;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    & > span {
      font-size: 2rem;
    }
  }

  &__info {
    list-style: none;
    font-size: 2rem;
    text-align: left;
    padding: 2rem;

    & i {
      font-size: calc(100% - 0.5rem);
      margin-right: 1rem;
      color: $color-s;
    }
  }

  &__order {
    font-size: 2rem;
    font-weight: 300;
    padding-top: 20px;
    color: $font-color-s;
    width: 100%;
    background-color: $bg-color-s;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  }

  &:hover {
    transform: translateY(-2rem);
    backface-visibility: hidden;
  }
}
