.package-items {
  @extend %flex;
  margin-bottom: 1rem;
}

.package-item {
  margin: 2rem 0;
  text-align: center;
  box-shadow: 0 2px 3px $font-color-p;

  &__title {
    font-size: 3rem;
    font-weight: 300;
    color: $font-color-s;
    background-color: $bg-color-s;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    & > span {
      font-size: 2rem;
    }
  }

  &__info {
    list-style: none;
    font-size: 1.6rem;
    text-align: left;
    padding: 2rem;

    & i {
      font-size: calc(100% - 0.5rem);
      margin-right: 1rem;
    }
  }

  &__order {
    font-size: 2rem;
    font-weight: 300;
    color: $font-color-s;
    width: 100%;
    background-color: $bg-color-s;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  }
}
