.review {
  margin: 3rem 0;
}

.review-info {
  display: flex;
  justify-content: space-evenly;
}

.review-lover {
  @extend %flex;
  flex-direction: column;
  text-transform: lowercase;
  margin-top: 5rem;

  &__item {
    font-size: 2.5rem;
    font-weight: 400;
    margin-right: 2rem;
    color: $color-s;

    & > span {
      display: block;
      font-weight: 300;
      font-size: 1.6rem;
    }
  }
}

.review-customer {
  @extend %flex;
  margin-top: 5rem;
  &__item {
    &--rel {
      position: relative;

      & i {
        margin-right: 5px;
        vertical-align: super;
      }
      & img {
        position: relative;
        display: block;
        width: 60%;
        border-radius: 5%;
        opacity: 0.4;
        filter: grayscale(50%) brightness(50%);
      }

      & p {
        display: block;
        position: absolute;
        top: 10%;
        width: 59%;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 3rem;
        padding: 1rem;
        opacity: 1;
        color: $color-s;
      }

      &:hover {
        & > p {
          opacity: 0;
        }
        & > img {
          opacity: 0.8;
          filter: grayscale(10%) brightness(100%);
          transform: scale(0.9);
        }
      }
    }
  }
}
