.review {
  margin: 3rem 0;
}

.review-info {
  display: flex;
  justify-content: space-evenly;
}

.review-lover {
  @extend %flex;
  flex-direction: column;
  text-transform: lowercase;
  margin-top: 5rem;

  &__item {
    font-size: 2.5rem;
    font-weight: 400;
    margin-right: 2rem;
    color: $color-s;

    & > span {
      display: block;
      font-weight: 300;
      font-size: 1.6rem;
    }
  }
}

.review-customer {
  @extend %flex;
  margin-top: 5rem;
  &__item {
    &--rel {
      position: relative;

      & img {
        display: block;
        top: 100%;
        width: 70%;
        border-radius: 5%;
        opacity: 1;
        filter: grayscale(50%) brightness(60%);
      }

      & p {
        display: block;
        position: absolute;
        top: 0;
        width: 70%;
        font-size: 2rem;
        font-weight: 300;
        color: $color-s;
        // background: rgba($color-p, 0.9);
        // box-shadow: 0 1px 2px $color-s;
        border-radius: 5px;
        padding: 1rem;
        opacity: 0;

        & > i {
          margin-right: 5px;
          vertical-align: super;
        }
      }

      &:hover {
        & > p {
          opacity: 1;
        }
        & > img {
          opacity: 0;
          transform: translateY(-1rem);
        }
      }
    }
  }
}
