.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: none;

  &-p {
    background-color: #00d3c6;
    color: inherit;
    font-size: inherit;
    font-weight: 300;
  }
}
