.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
  margin: 1rem;

  & span {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 52%;
      transform: translateX(-50%);
      width: 5rem;
      border-bottom: 2px solid $color-p;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translateX(-60%);
      width: 5rem;
      border-bottom: 2px solid $color-p;
    }
  }
}
