.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin: 1rem;
  letter-spacing: 1px;
  word-spacing: 3px;

  & span {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 52%;
      transform: translateX(-50%);
      width: 5rem;
      border-bottom: 3px solid $color-g;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translateX(-60%);
      width: 5rem;
      border-bottom: 3px solid $color-g;
    }
  }
}
